@import "variables";


* {
  margin: 0;
  padding: 0;
}

/*暗色
 */
.dark {
  background-color: $darkBackGroundColor;
  color: #fff9dc;

  button {
    background-color: $darkButtonBackGroundColor;
    border: transparent;
    color: $darkButtonFontColor;
  }

  .topContainer {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 5.5vh;
    border-bottom: $containerDarkBackGroundColor 1px solid;
  }

  .sideBtn {
    background-color: $darkButtonBackGroundColor2;
    color: #3f455b;
  }

  .topContainer {
    background-color: #3f455b;
  }

  .sideContainer {
    background-color: $containerDarkBackGroundColor;
  }

  .drawerPage {
    background-color: $containerDarkBackGroundColor;
  }

  .attrsMenus {
    background-color: $containerDarkBackGroundColor;
  }

  .pointerBox:hover {
    background-color: $pointerDarkBackgroundColor;
  }
}

.hljs-container {
  background: $containerBackGroundColor;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

.topContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 5vh;
  border-bottom: $containerBackGroundColor 1px solid;
}
