$buttonWidth: 6vw !default;
$buttonHeight: 3vh !default;


$darkButtonFontColor: #fff9dc !default;
$darkButtonBackGroundColor: #484dff !default;
$darkButtonBackGroundColor2: #e0f68a !default;
$containerBackGroundColor: #e8e7e7 !default;


$darkBackGroundColor: #18181a !default;

$borderColor: #7373fa !default;

$containerDarkBackGroundColor: #282b30 !default;

