$buttonWidth: 6vw !default;
$buttonHeight: 3vh !default;


$darkButtonFontColor: #fefefe !default;
$darkButtonBackGroundColor: #484dff !default;
$darkButtonBackGroundColor2: #ff9f0a !default;
$containerBackGroundColor: #e8e7e7 !default;


$darkBackGroundColor: #18181a !default;

$borderColor: #f59b51 !default;

$containerDarkBackGroundColor: #000000 !default;

$pointerDarkBackgroundColor: #4f4f4f !default;

$pointerBackgroundColor: #f6c194 !default;
$infoBox: #ff9f0a !default;
