$buttonWidth: 8vw !default;
$buttonHeight: 4vh !default;


$darkButtonFontColor: #fff9dc !default;
$darkButtonBackGroundColor: #44bd87 !default;


$containerBackGroundColor: #ffffff !default;


$darkBackGroundColor: #18181a !default;

$borderColor: #7373fa !default;

$containerDarkBackGroundColor: #525252 !default;
