@import "../../styles/variables";

.basicCom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sideContainer {
  flex: 1;
}

.sideBtn:nth-child(1) {
  width: 11vh;
  height: 8vh;
  background-color: $infoBox;
  text-align: center;
  line-height: $buttonHeight;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 10px;
  color: #313131;
}

.fontBtn:nth-child(1) {
  width: 11vh;
  height: 8vh;
  background-color: #a4a6a7;
  text-align: center;
  line-height: $buttonHeight;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 10px;
  color: #313131;
}

.wiBtn:nth-child(1) {
  width: 11vh;
  height: 8vh;
  background-color: #625a61;
  text-align: center;
  line-height: $buttonHeight;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 10px;
  color: #313131;
}

.sideBtn:hover {
  border: 1px dotted $borderColor;
}
